EncisoAlva_Dissertation.log
EncisoAlva_Dissertation.pdf
EncisoAlva_Dissertation.synctex.gz
EncisoAlva_Dissertation.aux
EncisoAlva_Dissertation.toc
EncisoAlva_Dissertation.bbl
EncisoAlva_Dissertation.blg